<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    
    <div class="logo-container">
      <img src="./assets/logo.png" class="logo">
      <h1 class="app-title">Gourmet QL</h1>

    </div>

    <div class="login-form">

      <ion-card class="login-card">

        <ion-card-content>
          <ion-item fill="outline" class="input-item">
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input 
              type="email" >
            </ion-input>
          </ion-item>

          <ion-item fill="outline" class="input-item">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input 
              type="contrasenia">
            </ion-input>
          </ion-item>

          <ion-button 
            expand="block" 
            size="large" 
            class="login-button"
            (click)="iniciarSesion()">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Iniciar Sesión
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="separator">
      <hr class="separator-line">
      <span class="separator-text">O inicia sesión como:</span>
      <hr class="separator-line">
    </div>

    <div class="quick-login">
      <ion-card class="quick-login-card">
        <ion-card-header>
          <ion-card-title class="quick-login-title">
            <ion-icon name="flash" color="warning"></ion-icon>
            Acceso Rápido
          </ion-card-title>
        </ion-card-header>
        
        <ion-card-content class="quick-buttons-container">
          <!-- cambio de *ngFor por @for  -->
          @for (usuario of usuariosRapidos; track usuario) {
            <ion-button 
              expand="block"
              fill="outline"
              size="large"
              class="quick-login-btn"
              [class]="'btn-' + usuario.perfil.replace('ñ', 'n')"
              (click)="loginRapido(usuario)">
              {{ usuario.perfil }}
              <span class="username">{{ usuario.nombre }}</span>
            </ion-button>
          }
          <!-- con ngFor
          <ion-button 
            *ngFor="let usuario of usuariosRapidos"
            expand="block"
            fill="outline"
            size="large"
            class="quick-login-btn"
            [class]="'btn-' + usuario.perfil.replace('ñ', 'n')"
            (click)="loginRapido(usuario)">
            {{ usuario.perfil }}
            <span class="username">{{ usuario.nombre }}</span>
          </ion-button>-->
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>